In [1]:
import pandas as pd
from tortus import Tortus

Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00\xa5\xaf~d\x00\…

HTML(value="<h2 style='text-align:center'>        easy text annotation in a Jupyter Notebook</h2>")

In [2]:
dataframe = pd.read_csv('movie_reviews_1.csv')
dataframe.head(columes = {})

   review_id        date                                            reviews
0        100  09-12-2020  "Mulan" raises the bar in Disney sequels. This...
1        101  09-11-2020  A movie of impressive scale and clear visual c...
2        102  09-10-2020  While glorious to look at, the movie still fee...
3        103  09-10-2020  The movie itself feels like an anticlimax: Mul...
4        104  09-10-2020  A homage to family, feminism, honor, leadershi...

In [4]:
tortus = Tortus(
    dataframe, #dataframe name
    'reviews', # column name wanted to label
    num_records=dataframe.shape[0], # number of rows you want to annotate
    id_column='review_id', # column id name, if you don't have it put dataframe index as ids
    random=False, # if true, the tool will peak rows in random sorting
    labels=['positive', 'negative', 'neutral'] #classes names, should be numbers in your case
)

tortus.annotate()

HBox(children=(Image(value=b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00#0\x00\x00\x06\xc4\x08\x06\x00\x00\x00…

HTML(value='Click on the label corresponding with the text below. Each selection requires                 conf…

HTML(value='<h4>The combat set pieces are terrific, the scale of the storytelling is epic.</h4>')

GridBox(children=(VBox(children=(Box(children=(Button(description='positive', layout=Layout(border='solid', fl…

Output()

In [5]:
annotations = tortus.annotations
annotations.head()

,review_id,reviews,label,annotated_at
0,100,"""Mulan"" raises the bar in Disney sequels. This...",positive,2021-11-23 10:09:28
1,101,A movie of impressive scale and clear visual c...,negative,2021-11-23 10:09:32
2,102,"While glorious to look at, the movie still fee...",neutral,2021-11-23 10:09:35
3,103,The movie itself feels like an anticlimax: Mul...,negative,2021-11-23 10:09:37
4,104,"A homage to family, feminism, honor, leadershi...",positive,2021-11-23 10:09:40

In [ ]:
annotations.to_csv('your_new_labeled_file_name.csv', index=False)